.text-container {
    position: relative;
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    color: white;
    overflow: hidden;
} 
.text-container .hover-text {
    background: url('Img/Рамка\ ада.jpg') no-repeat center;
    background-size: cover;
    -webkit-background-clip: text;
    color: white; /* Изначально текст белый */
    transition: color 0.5s ease, background-position 0.5s ease;
}
.text-container:hover .hover-text {
    color: transparent; /* Становится прозрачным, чтобы картинка проявилась */
    -webkit-background-clip: text;
    background-clip: text;
}
.content_ {
    width: 100%;
    position: relative;
    left: 0;
    top: 6%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: beige;
}
.EF {
    display: flex;
    flex-direction: row;
}
.EF_ {
    display: flex;
    flex-direction: row;
}
.Ef1_ {
    left: -250%;
    display: block;
}
.Ef3_ {
    left: 235%;
}
.Ef2_ {
    left: -10%;
}
.Ef1_, .Ef2_, .Ef3_ {
    position: relative;
}
.Ef1, .Ef2, .Ef3 {
    position: relative;
    padding: 0px 60px 0px 60px ;
    text-align: center;
    color: rgb(237, 237, 237);
}
.banner {
    position: relative;
    padding: 20px 0px 0px 0px;
}
.banner_ {
    position: absolute;
    top: 22%;
    width: 728px;
    height: 90px;
}
.Ops {
    position: relative;
    width: 300px;
    padding: 300px 0px 0px 0px;
    color: white;
    justify-content: center;
}
.theend1_1 {
    position: relative;
    background-color: rgb(33, 30, 34);
    width: 100%;
    height: 80px;
    top: 53%;
}
@media (min-width: 2560px) {
    .theend1_1 {
        top: 55%;
    }
}
@media (max-width: 431px) {
    .Ef1_ {
        left: -120%;
    }
    .Ef3_ {
        left: 105%;
    }
    .Ef2_ {
        left: -15%;
    }
    .Ef1, .Ef2, .Ef3 {
        position: relative;
        padding: 0px 5px 0px 5px ;
        text-align: center;
        color: rgb(237, 237, 237);
    }
    .banner_ {
        position: absolute;
        top: 72%;
        width: auto;
        height: 90px;
    }
    .theend1_1 {
        position: relative;
        background-color: rgb(33, 30, 34);
        width: 100%;
        height: 80px;
        top: 53%;
    }
}